.meal-top-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* .home-scroll.mealtype {
  background-color: #eae4f8;
} */
.meal-top-img img {
  width: 100%;
  object-fit: cover;
}

.mealDetail-header {
  border-radius: 40px;
  padding: 1rem;
  background-color: white;
  position: relative;
  z-index: 4;
  margin-bottom: 5rem;
  background: hsl(0deg 0% 100% / 5%);
  backdrop-filter: blur(6px);
  box-shadow: inset -1px 1px 5px 0px hsla(0, 0%, 100%, 0.632),
    inset 1px -1px 5px 1px hsl(0deg 0% 0%);
  color: white;
}
.mealDetail-header p {
  margin: 0;
  text-align: center;
}
.mealdetail-title {
  margin-bottom: 1rem;
  color: white;
}
.mealdetail-title span {
  font-size: 14px;
}

.recipie-card {
  border-radius: 25px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}
.recipie-card ul {
  margin: 0;
}

.recipie-card h6 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding-bottom: 5px;
}

.recipie-card h6 svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.recipie-card a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}
.recipie-card.youtube {
  border-radius: 50px;
}
.recipie-card a svg:first-child {
  margin-right: 8px;
  font-size: 28px;
  fill: red;
}
.recipie-card a svg:last-child {
  fill: white;
  position: absolute;
  right: 0;
}

.recipie-item-card {
  border-radius: 40px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  /* height: 200px; */
  margin-bottom: 1.5rem;
}
.recipie-item-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.recipie-item-card h6 {
  position: absolute;
  bottom: 8%;
  left: 0;
  /* transform: translate(0, 50%); */
  z-index: 4;
  border-radius: 40px;
  background: hsl(0deg 0% 100% / 5%);
  backdrop-filter: blur(6px);
  box-shadow: inset -1px 1px 5px 0px hsla(0, 0%, 100%, 0.632),
    inset 1px -1px 5px 1px hsl(0deg 0% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90%;
  margin: 0 1rem;
  padding: 1rem;
}
.recipie-item-card h6 svg {
  margin-left: 1rem;
}

/* .seven-day-buttons.meal {
  background-color: #dacaff;
} */

.meal-actions p{
  color: white;
}

.meal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.meal-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f44336;
  color: white;
  padding: 1rem;
}
.meal-actions .btn-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #4caf50;
}

.mealDetail-header.workout{
margin: 0;
}