.Home {
  width: 100%;
  height: 95vh;
  /* padding-bottom: 6rem; */
  margin-top: 3rem;
}
.Home-main {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  z-index: 2;
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.glass-container {
  width: 92%;
  top: 10%;
  left: 0;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 40px;
  position: fixed;
}

.liquid-glass {
  border-radius: 40px;
  /* transition: opacity 0.26s ease-out; */
  filter: drop-shadow(-8px -10px 46px #0000005f);
  -webkit-backdrop-filter: blur(10px) brightness(1.1) url(#displacementFilter);
  backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
}

.liquid-glass:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: 40px;
  -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
  box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
    inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
}

.home-text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
}

.home-title {
  color: white;
}
.home-text-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  /* background: rgba(255, 255, 255, 0.194);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  background: hsl(0deg 0% 0% / 33%);
}
.home-text-card h2 {
  margin: 0;
  color: white;
  font-size: 16px;
}
/* .home-text-card h2 span{
  margin: 0;
  color: white;
  font-size: 16px;
} */
.home-text-card p {
  margin: 0;
  color: white;
}

.home-imag {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-imag img {
  width: 40%;
  object-fit: cover;
}
.home-scroll {
  position: absolute;
  bottom: -60%;
  left: 0;
  width: 100%;
  height: 94vh;
  background: linear-gradient(180deg, #466572, #203a43, #112128);
  border-radius: 40px 40px 0 0;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.home-scroll:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 40%;
  height: 5px;
  background-color: #ffffff75;
  border-radius: 50px;
  transform: translate(-50%, 100%);
}
/* .home-scroll:before {
  content: "";
  position: absolute;
  top: -10%;
  right: 0%;
  height: 15%;
  width: 100%;
  background-image: linear-gradient(0deg, #000 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
} */

.home-scroll.scrolled {
  bottom: 0%;
  transition: all 0.6s ease-in-out;
  overflow: auto;
  position: fixed;
}

.home-scroll-box h5 {
  margin: 1rem 0 0.5rem 0;
  color: white;
}

.seven-day-buttons {
  width: 100%;
  background-color: #fffd75;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom: 1.5rem;
}
.seven-day-buttons svg {
  margin-left: 0.5rem;
}

.importantConsiderations-box {
  margin-top: 1.5rem;
}

.importantConsiderations-box ul {
  border-radius: 25px;
  padding: 1rem 1rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
.importantConsiderations-box ul li {
  color: white;
}

.subscription-end-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.subscription-end-alert img {
  width: 30%;
}
.subscription-end-alert button {
  position: absolute;
  top: 5%;
  right: 5%;
}
.subscription-end-alert .seven-day-buttons {
  color: black;
}
@media screen and (min-width: 1200px) {
  .Home-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Home-main {
    width: 100%;
  }
}
