.history-subtitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 14px;
}

/* Subscription List */
.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Subscription Item */
.subscription-item {
      background-color: rgba(255, 255, 255, 0.05);
  /* border: 1px solid #eee; */
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
      border: .1px solid #ffffff74;
}
/* Header */
.subscription-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-header h5 {
  font-size: 18px;
}

/* Details */
.subscription-details p {
  margin: 0;
  font-size: 14px;
}

/* Status Badge */
.status-badge {
  padding: 5px;
  /* border-radius: 0px 0px 0px 40px; */
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  writing-mode: vertical-rl;
  letter-spacing: 6px;
  text-align: center;
}

.status-badge.active {
  background: #e6f4ea;
  color: #0f9d58;
}

.status-badge.expired {
  background: #fdecea;
  color: #d93025;
}

.filter-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  overflow: auto;
}

.filter-buttons button {
  padding: 8px 14px;
  border-radius: 40px;
      background-color: rgba(255, 255, 255, 0.05);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.9rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-buttons button.active {
  background: #fffd75;
  color: black;
}

.no-data {
  text-align: center;
  color: #777;
  margin-top: 20px;
  font-style: italic;
}
