.otherpage-box {
  padding: 1.5rem;
}
.otherpage-box h5 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.otherpage-box h5 span {
  font-size: 20px;
}

.Other-pages-box {
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 55vh;
  background: linear-gradient(160deg, #2c5364, #203a43, #0f2027);
  color: white;
  border-radius: 40px 40px 0 0;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.Other-pages-box p a {
  text-decoration: none;
  margin-left: 5px;
  color: #fffd75;
}

/* help */
/* Container */
.help-container {
  display: flex;
  justify-content: center;
}

/* Content Wrapper */
.help-content {
  max-width: 800px;
  width: 100%;
}

/* Title & Subtitle */
.help-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.help-subtitle {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* FAQ Section */
.faq-section {
  margin-bottom: 1rem;
}

.faq-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: border 0.3s;
  border: 0.1px solid #ffffff74;
}

.faq-question {
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  color: white;
}

.faq-answer {
  margin-top: 12px;
  color: white;
  line-height: 1.5;
  font-size: 0.95rem;
}

/* Contact Section */
.contact-section {
  text-align: center;
  margin-top: 1.5rem;
}

.contact-section h5 {
  margin-bottom: 8px;
}

.contact-section p {
  margin-bottom: 20px;
  color: white;
}

.seven-day-buttons.help {
  background: #fffd75;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-top: 1rem;
}

.contact-btn:hover {
  background: white;
}

.account-delete {
  border: 1px solid red;
  border-radius: 25px;
  padding: 5px 8px;
  font-size: 8px;
}

.help-supports {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.help-supports a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffd75;
  color: black;
  padding: 1rem;
  border-radius: 50px;
  text-decoration: none;
}

.help-supports a svg {
  font-size: 22px;
}

.help-supports a:nth-child(2) svg {
  font-size: 25px;
}
.help-supports a:nth-child(3) {
  padding: 1rem 2rem;
}

.Other-pages-box.help-support-box.true {
  height: 94vh;
}

.contact-section .support-box {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: border 0.3s;
  border: 0.1px solid #ffffff74;
}
.contact-section .support-box .contact-form button {
  background-color: #fffd75;
}

.query-support-card{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: border 0.3s;
  border: 0.1px solid #ffffff74;
}

.query-support-card p{
  margin: 0;
}
.query-support-card h6{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.query-support-card h6 .pending{
  color: orange;
}
.query-support-card h6 .answered{
  color: rgb(0, 255, 0);
}

.query-support-box{
  margin-top: 1rem;
}