.bmi-card {
  color: white;
  border-radius: 25px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
      border: .1px solid #ffffff74;
}

.modal-overlay.true {
  top: 0;
  transition: all 0.5s ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 150%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.modal-content {
  width: 90%;
  color: white;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
.modal-content h4 span{
  font-size: 16px;
}
.modal-content.liquid-glass::before {
  z-index: -1;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.modal-actions button {
  width: 100%;
  background-color: #fffd75;
}
.modal-actions .close {
  background-color: white;
}

.modal-content .wallet-status p {
  text-align: center;
  margin-top: 1rem;
}

.bmi-calculation {
  position: relative;
}
.bmi-calculation img {
  width: 30%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.bmi-category {
  margin: 0;
}
.bmi-category.overweight {
  color: #ff0000; /* red for un weight */
}
.bmi-category.normal-weight {
  color: #4caf50; /* Green for Normal weight */
}
.bmi-category.underweight {
  color: #ffbd42; /* Green for Normal weight */
}


.bmi-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bmi-status span svg{
    width: 18px;
    height: 18px;
}

.home-scroll.bmi{
bottom: -47%;
}

.home-scroll.bmi.scrolled {
bottom: 0;
}